<html data-theme="light">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='pico-bootstrap-grid.min.css') }}">
    <script src="{{ url_for('static', filename='alpinejs.js') }}" defer></script>
    {% block head %}{% endblock %}
</head>
<body>
<main class="container">
    <header>
        <nav>
            <ul>
                <li><strong>Money transfer</strong></li>
            </ul>
            {% if current_user.is_authenticated %}
                {% include "partials/menu/logged.html" %}
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</main>
</body>
</html>